<div class="search-box">
    <div class="large-12 columns">
        <form>
            <input type="text" ng-model="searchTerm" placeholder="Søg her - fx. 'fisse'" />
            <button ng-click="doSearch()">Lyt, for helvede!</button>
        </form>
    </div>
</div>

<div class="results">
    <ul ng-repeat="item in items">
        <li class="item">
            
            <div class="creator-image" style="background-image: url('{{ item.CreatorImage }}')">
                <div class="source" style="background-image: url(/img/{{ item.Source }}.png);"></div>
                <span class="creator-nick">@{{ item.CreatorNick }}</span>
            </div>
            
            <div class="right-col">
                <div class="inner">
                    <div class="text">{{ item.Text }}</div>

                    <!--TAGS
                    <ul class="tags" ng-repeat="tag in item.tags">
                        <li><a href="#">{{ tag }}</a></li>
                    </ul>-->

                    <div class="media" ng-if="item.Media.Thumbnail != null ">
                        <a href="{{ item.Media.URL }}" target="_blank">
                            <img src="{{ item.Media.Thumbnail }}" />
                            
                        </a>
                </div>
            </div>
        </li>
    </ul>
</div>